<h1>Restaurant Name: <%= @restaurant.name %> </h1>
<p>Address: <%= @restaurant.address %></p>
<% if @restaurant.pizzas.count > 0 %>
    <p>Average Pizza Price: $<%= @restaurant.average_price %>

    <ul>Our Pizzas:
        <% @restaurant.pizzas.each do |pizza| %>
            <li> <%= link_to pizza.name, pizza_path(pizza)%></li>
        <% end %>
    </ul>
 <% else %>
    <p>No pizzas on the menu yet :( </p>
 <% end %>