<h1>Create a new location</h1>

<div class='form-container'>
  <%= form_for(@location) do |f| %>

    <label>Name: <%= f.text_field :name %></label><br />

    <label>Address: <%= f.text_field :address %></label><br />

    <%= f.submit %>

  <% end %>
</div>
